$color-header:#607d8b75;
$bg-promo: linear-gradient(90deg,#B3E5FC 30%, #757575 90%);
$bg-footer:#d9d9d970;
$bg-form:#f2f2f267;
$color-txtnav:black;
$bg-main:linear-gradient(to bottom, #051937, #005274, #008f8e, #5fca80, #f9f871);