.letraNav{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: white;
}
.txtHome{
    font-family: 'Rubik', sans-serif;
    background-color: rgba(173, 216, 230, 0.555);
    color: black;
    padding: 20px ;
    margin-top: 10px;
    font-weight: 700;
}