body{
    width: 100%;
	height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8BC6EC;
    background-image: linear-gradient(0deg, #8BC6EC 34%, #e57c23 100%);
}