footer{
    display: flex;
    background-color:$bg-footer;
    p{
        text-align: left;
        font-size: 10px;
    }
    .redes{
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 5px;
            font-size: 10px;
            li{
                img{
                    width: 20px;
                }
            }
        }  
    } 
}
