main{
    height: auto;
    background: $bg-main;
    .titulo{
        display: flex;
        flex-direction: column;}
        .tituloHome{
            width: 100%;
            margin-top: 10px;
            gap: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            h2{
                font-size: 30px;
                color:#FF5722;
	            font-family: 'Sedgwick Ave Display', cursive;
	            text-shadow: 1px  0px 0px white,
				            0px  1px 0px white,
				            -1px  0px 0px white,
				            0px -1px 0px white;
            }
            h3{
                @extend h2
            }
        }
    }
    .textoHome{
        display: flex;
        flex-direction: column;
        align-items: center;
        .txtHome{
            font-weight: 600;
        margin:20px;
        }
        p{
            color: black;
            font-family: 'Bangers', cursive;
            letter-spacing: 2px;
            background-color: #add8e68e;
            border-radius: 5px;
            padding: 10px;
            box-shadow: -14px 13px 22px 8px #F79327;
        }
    
    }
    .fotos{
        padding: 20px;
            border-radius: 20px;
            box-shadow: -14px 13px 22px 8px #515A5A;
        }
       
        .txtHome{
            font-family: 'Rubik', sans-serif;
            background-color: rgba(173, 216, 230, 0.555);
            color: black;
            padding: 20px ;
            margin-top: 10px;
            font-weight: 700;
            box-shadow: -14px 13px 22px 8px #F79327;}

.newsletters{
    @include flex(row,wrap,center,center,none);
    width: 100%;
    background-color: #F79327;
    .marcas{
        @include flex(column,none,none,center,10px);
        align-content: center;
        padding: 10px;
    }
    div{
        h4{
            font-family: 'Rubik', sans-serif;
            font-weight: 700;
        }
    }
}
    
