.encontranos{
	background-color: #f2f2f267;
    .formulario{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "form texto mapa"
        "form texto mapa"
        "form texto mapa";
        
    }
    .txt{
        font-family: 'Sedgwick Ave Display', cursive;
        font-size: 50px;
        color: #000000;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-shadow: 1px  0px 0px white,
                    0px  1px 0px white,
                    -1px  0px 0px white,
                    0px -1px 0px white;
                    grid-area: texto;
    }
    .mapa{
        grid-area: mapa;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
