.retroshoes{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content:center;
    align-items: center;
    .conversecinteiner{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }
    
    .nikeconteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .adidasconteiner{
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        gap: 10px;
    }
    picture{
        h2{
            font-family: 'Sedgwick Ave Display', cursive;
	text-align: center;
	float: center;
	font-size: 30px;
	color: #F79327;
	letter-spacing: 2px;
    background-color: rgba(0, 255, 255, 0.37);
        }
        img{
            border-radius: 10px;
            border: 3px solid;
            border-color: #f3edea;
        }
        & :hover{
            opacity: 0.5;
        }

    }
}