main{
section{
    .videoCoach{
        display: flex;
    justify-content: center;
    padding: 20px;
    height: 200px;
    }
    .botones{
        width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    .btn a{
        color: beige;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        background-color: #F79327;
        border-radius:10px;
    }
    }
}
}