@media (min-width:1024px){
    .listNav li{
        font-size: 20px;
        font-weight: 600;
    }
    .tituloNav h1{
        font-size: 50px;
    }
    .tituloHome h2{
        font-size: 90px;
    }
    .tituloHome h3{
        font-size: 80px;
    }
    .tituloHome{
        padding: 10px;
    }
    .txtHome{
        font-size: 25px;
        padding: 5px;
    }
    .txtHome2{
        font-size: 20px;
    }
    .btn{
        font-size: 30px;
    }
    .textoHome{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textoHome p{
        border-radius: 5px;
    }
    .formulario{
        flex-direction: row;
    }
    .redes ul li{
        font-size: 20px;
    }
    .footer p{
        font-size: 20px;
    }
}
