@media (min-width:1440px){
    
    .titulo h2{
        font-size: 90px;
    }
    .titulo h3{
        font-size: 80px;
    }
    .textohome p{
        font-size: 35px;
        padding: 5px;
    }
    .txtHome{
        font-size: 35px;
    }
    .boton{
        font-size: 30px;
    }
    .redes ul li{
        font-size: 20px;
    }
    footer p{
        font-size: 20px;
    }
}
