@media (min-width:1440px){
    .listNav li{
        font-size: 30px;
        font-weight: 600;
    }
    .tituloNav h1{
        font-size: 80px;
    }
    .tituloHome h2{
        font-size: 90px;
    }
    .tituloHome h3{
        font-size: 80px;
    }
    .txtHome{
        font-size: 35px;
        padding: 5px;
    }
    .txtHome2{
        font-size: 35px;
    }
    .btn{
        font-size: 30px;
    }
    .redes ul li{
        font-size: 20px;
    }
    .footer p{
        font-size: 20px;
    }
}
